body {
    font-weight: 100;
    font-family: 'Lato';
}

.flickrImg {
    opacity: 0.7;
}

p {
    font-size: 26px;
}

.image {
    height: 250px;
    width: 100%;
}

.page {
    margin-top: 50px;
    padding-bottom:0px;
}

.header {
    height: 50px;
    background: white;
    width: 100%;
    top: 0px;
    position: fixed;
    margin: 0px auto;
    font-size: 26px;
    text-align: center;
    z-index: 1;
}

.firstImage {
    height: 100vh;
    width: 100%;
    background: white;
}

.title {
    font-size: 64px;
}

.content {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 25px 100px 0px 100px;
}

.description {
    vertical-align: middle;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;

}

.workImage{
    border: 1px #8699a4 solid;
}

#content_frameworks {
    height: 100vh;
}

#content_about {
    height: 100vh;
}

/*#content_hobbies{*/
/*height:700px;*/
/*background-image: url('img/10.jpg');*/
/*background-position: center;*/
/*background-size: 100%;*/
/*position: relative;*/
/*}*/
#content_web {
    height: 100vh;
    font-size: 24px;
}

#content_works{
    height:100vh;
}

#content_flickr {
    /*min-height: 400px;*/
}

#content_contacts {
    background: lightslategray;
    font-size: 20px;
    color: white;
    min-height: 100px;
    max-height:10hv;
    margin-top: 50px;
    /*position: inherit;*/
    /*padding-top:30px;*/
    /*bottom: 0px;*/
}
.images{
    position:relative;
    margin-top: 30%;
}
/*responsive images*/
@media only screen and (max-width: 1000px){
    .images{
        display:none;
    }
}
@media only screen and (max-width: 1150px){
    .
}
.copyright {
    padding-top: 20px;
    font-size: 12px;
}

.img {
    width: 100px;
}

.img-circle {
    width: 100px;
    htight: 100px;
}

/*Flickr images*/
.imageThumbnail {
    /*margin-top: 20px;*/
}

.transparent {
    opacity: 0.1;
}

/* set the wall images */
#wall_about {
    background: url('../../img/7.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#wall_frameworks {
    background: url('../../img/4.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#wall_web {
    background: url('../../img/13.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#wall_works{
    background:url('../../img/8.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    vertical-align: middle;
}


#wall_flickr {
    background: url('../../img/14.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
