<style>
	#createdir{
		width:600px;
		height:55px;
		border:1px solid grey;
		padding-top:1%;
	}
	#crea1{
		text-align: center;
	}
	#crea2{
		font-size: 14px;
	}
	.foldername{
		font-weight:bold;
		font-size:18px;
		text-align:center;
	}
	.names{
		font-weight:bold;
		font-size:14px;
		text-align:center;
	}
	.details{
		height:80px;
	}
	.coordinates{
		font-weight:bold;
		font-size:18px;
		text-align:center;
	}
	.title{
		font-weight:bold;
		font-size:28px;
		text-align:center;
	}
	.subtitle{
		font-weight:bold;
		font-size:16px;
		text-align:center;
	}
	.result_title{
		font-weight:bold;
		font-size:26px;
	}
	.result_id{
		font-weight:bold;
		font-size:22px;
	}
	.border{
		background:white;
		border-top:3px #3c8dbc solid;
	}
	#dir_table{
		max-width:700px;
	}
	.td_short{
		width:60px;
	}
	th.preview{
		width:150px;
	}
	#menu{
		position: fixed;
	}
	#img_btn{
		width:270px;
	}

</style>